@font-face {
    font-family: 'Trebuchet MS';
    src: url('font.ttf');
}

html {
    background: url('../img/navback.jpg');
}

* {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Helvetica', 'Tahoma', Arial, sans-serif;
    text-align: center;
}

a {
    color: #c9a20a;
    text-decoration: none;
}

a:hover {
    color: #ffff00;
}

td {
    text-align: right;
}